body{
    background-color: #0f72af;
}
hr{
    border-color: #fdefce;
    border-style: none;
}
img{
    height: 150px;
}
h1{
    color: #fdefce;
}
h3{
    color: #fdefce;
}
label{
    color: #fdefce;
}
p{
    color: cadetblue;
}
.main{
    background-color: #fdefce;
    border-style:none;
    height: 1px;
    width: 100%;
}
#page-wrap {
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    table-layout: auto;
    background-color: #1c1c34;
    padding: 20px;
}
